.ga-modal-header
  h4
    span
      i.fa.fa-male
    | Assign Roles to Simulation
.ga-modal-body
  .assign-role-wrapper(ng-show="showAssignment()" data-ng-attr-style="{{ initHide && 'display: none!important' || '' }}")
    label Assign Role
    div.pre-padding
      select(name="assignRoleName" selecter selecter-opts="unassignedRoles" selecter-val="assignment.role" selecter-no-blank)
    div.pre-padding
      select(name="assignRoleVal" selecter selecter-opts="roleValOpts" selecter-val="assignment.val" selecter-no-blank)
    div.pre-padding
      button.btn.btn-block(type="button" ng-click="assignRole(assignment)") Assign
    hr
  .roles-assigned-wrapper
    label Roles Assigned
    div(ng-show="roles.length == 0")
      p None
    .list-group
      .list-group-item(ng-repeat="assign in roles")
        h4.list-group-item-heading
          button.close(type="button" aria-hidden="true" ng-click="delRoleAssignemnt(assign.role)") ×
          | {{assign.val}} {{assign.role}}
        input(id="{{assign.role}}-radio" name="assign-radio" type="radio" i-check i-check-val="assign.excess")
        label.rolesRadioLabel(for="{{assign.role}}-radio") Assign Excess Students to this Role
.ga-modal-footer
  button.btn.btn-info.btn-block(type="button" ng-click="closeThisDialog()") Done
