.ga-modal-header
  h4
    span
      i.fa.fa-users
    | Group Names
.ga-modal-body
  div(ng-repeat="groupName in newSim.groupNames")
    input.form-control(type="text" name="groupName{{$index+1}}" placeholder="Group {{$index+1}}" ng-model="groupName.name")
.ga-modal-footer
    button.btn.btn-info.btn-block(type="button" ng-click="closeThisDialog()") Update