.footer
  .container
    .clearfix
      .footer-logo
        a(href="#")
          span.label.label-primary
            i.fa.fa-users
            | Group Assigner
    .footer-copyright.text-center Copyright © 2014 James Newell.  All rights reserved.