.panel.panel-danger(ng-show="simulation.isDone" ng-controller="TranspiredCtrl")
  .panel-heading
      h3.panel-title {{simulation.name}} (Transpired)
  .panel-body
    #add-done-simulation
      .form-group
        label(for="simulation-rename") Simulation Name
        .input-group
          input.form-control(type="text" name="simulation-rename" ng-model="$parent.simRename" ng-keyup="$event.keyCode == 13 && renameSimulation()")
          .input-group-btn
            button.btn.btn-default(type="button" ng-click="renameSimulation()") Rename
      .form-group(ng-show="simulation.done.groupNames.length > 0")
        button.btn.btn-default.btn-block(type="button" ng-click="giveNamesToGroups()") Give Names to Groups
      .form-group
        button.btn.btn-info.btn-block(type="button" ng-click="addGame()") Add Game
      ul.list-group
        li.list-group-item(ng-repeat="game in simulation.done.games")
          button.close(type="button" aria-hidden="true" ng-click="delGame(game)") ×
          h4
            a.add-game-btn(ng-click="addGroup(game)")
              i.fa.fa-plus-circle.fa-lg
            | Game {{$index + 1}}
          .group-section(ng-repeat="group in game")
            button.close(type="button" aria-hidden="true" ng-click="delGroup(game, group)") ×
            p
              a.add-group-btn(ng-click="addStudent(group)")
                i.fa.fa-user-plus.fa-lg
              | {{simulation.done.groupNames[$index].name}}
            ul.list-unstyled.group-assignment(ng-class="'group-' + ($index + 1)")
              li(ng-repeat="student in group")
                button.close(type="button" aria-hidden="true" ng-click="delStudent(group, student)") ×
                span
                  i.fa.fa-user
                a.student-assignment(ng-click="toggleRole(student)") {{student.name}}{{(student.role ? ' (' + student.role + ')' : '')}}
      .form-group
        button.btn.btn-block(type="button" ng-click="simulationIsNotDone()") This Simulation has not Transpired
