.panel.panel-danger(ng-show="simulation.isDone" ng-controller="TranspiredCtrl")
  .panel-heading
      h3.panel-title {{simulation.name}} (Transpired)
  .panel-body
    #add-done-simulation
      .form-group
        button.btn.btn-default.btn-block(type="button" ng-click="addGame()") Add Game
      ul.list-group
        li.list-group-item(ng-repeat="game in simulation.done.games")
          button.close(type="button" aria-hidden="true" ng-click="delGame(game)") ×
          h4
            //- button.btn.btn-primary.add-btn(type="button" ng-click="addGroup(game)")
            //-   i.fa.fa-plus-circle.fa-lg
            a.add-game-btn(ng-click="addGroup(game)")
              i.fa.fa-plus-circle.fa-lg
            | Game {{$index + 1}}
          .group-section(ng-repeat="group in game")
            button.close(type="button" aria-hidden="true" ng-click="delGroup(game, group)") ×
            p
              //- button.btn.btn-primary.add-btn(type="button" ng-click="addStudent(group)")
              //-  i.fa.fa-user-plus.fa-lg
              a.add-group-btn(ng-click="addStudent(group)")
                i.fa.fa-user-plus.fa-lg
              | Group {{$index + 1}}
            ul.list-unstyled.group-assignment(ng-class="'group-' + ($index + 1)")
              li(ng-repeat="student in group")
                button.close(type="button" aria-hidden="true" ng-click="delStudent(group, student)") ×
                span
                  i.fa.fa-user
                | {{student.name}}{{(student.role ? ' (' + student.role + ')' : '')}}
      .form-group
        button.btn.btn-block(type="button" ng-click="simulationIsNotDone()") This Simulation has not Transpired
