.ga-modal-header
  h4
    span
      i.fa.fa-user
    | Students in Group
.ga-modal-body
  div(ng-repeat="student in students | orderBy:'name'")
    input(name="{{student}}-checkbox" type="checkbox" i-check i-check-val="student.inGroup")
    label.inGroupStudentsLabel(for="{{student}}-checkbox") {{student.name}}
.ga-modal-footer
    button.btn.btn-info.btn-block(type="button" ng-click="closeThisDialog()") Done
