@import "imports/fonts.styl"

body
  background-color #f1f2f6
  margin-top 20px

  #app-title-wrapper
    text-align center

    #app-title
      margin-bottom 30px

  .list-group
    .list-group-item
      span.simMaxItem
        background-color #8CC152
        padding: 7px 15px
        margin-right: 20px
        margin-top: 0px
        color: white
        display: inline-block

      span.studentIcon
        //background-color #A0D468
        //padding: 7px 15px
        margin-right: 20px
        margin-top: 0px
        color: #434A54
        //display: inline-block