@import "imports/fonts.styl"
@import "imports/dialog.styl"

body
  background-color #f1f2f6
  margin-top 20px

  .pad-right
    margin-right 10px

  .padded-row
    padding-top 10px
    padding-bottom 15px

  #calculating-progress
    text-align center

  .ng-hide-add, .ng-hide-remove
    display block !important

  .calc-progress-animate
    transition height 0.5s ease-out, opacity 0.3s ease-out 0.2s
    height 50px
    overflow hidden
    opacity 1

    &.ng-hide
      height 0
      opacity 0

  #app-title-wrapper
    text-align center

    #app-title
      margin-bottom 40px

      span
        margin-right 25px
        position relative
        top -3px

  #project-name
    text-align center
    margin-bottom 40px
    color #656D78
    font-family "Helvetica Neue"
    h3
      -webkit-margin-before 0px

  #nav-menu
    margin-bottom 60px

  .form-group
    .label-note
      color: #AAB2BD
      font-size: 0.75em
      margin-bottom: 10px

  .list-group
    .list-group-item
      span.simGroupSizeItem
        background-color #8CC152
        padding: 7px 15px
        margin-right: 20px
        margin-top: 0px
        color: white
        display: inline-block

      span.studentIcon
        //background-color #A0D468
        //padding: 7px 15px
        margin-right: 20px
        margin-top: 0px
        color: #434A54
        //display: inline-block

  .game-label
    color #CCD1D9
    font-size 1.25em

  .group-assignment
    text-align left
    padding 10px 10px 10px 20px
    background-color #5D9CEC
    color #F5F7FA
    border-radius 20px
    border: 2px solid
    i
      color #FFFFFF
      margin-right 10px

  .group-1
    background-color #5D9CEC
    border-color #4A89DC

  .group-2
    background-color #ED5565
    border-color #DA4453

  .group-3
    background-color #A0D468
    border-color #8CC152

  .group-4
    background-color #FFCE54
    border-color #F6BB42

  .footer-logo
    span
      padding 7px 15px
      i
        margin-right 10px

  #add-done-simulation
    h4
      margin-top 5px
    .add-game-btn
      margin-right 5px
      color #434a54
    .add-group-btn
      margin-left 3px
      margin-right 5px
      color #434a54
    .group-section
      margin-bottom 10px

.ngdialog
  .ngdialog-content
    .ga-modal-header
      padding 10px
      i
        margin-right 10px

    .ga-modal-body
      padding 10px

      .pre-padding
        padding-top 12px

      input
        margin-bottom 10px

      input[name="new-role"]
        margin-bottom 0px

      .assign-role-wrapper
        transition height 0.5s ease-out, opacity 0.3s ease-out 0.2s
        height 184px
        overflow hidden
        opacity 1

        &.ng-hide
          height 0
          opacity 0

      .rolesRadioLabel, .absentStudentsLabel
        position relative
        top 1px
        font-weight 400
        margin-left 7px
        margin-top 7px

    .ga-modal-footer
      padding 10px
