@import "imports/fonts.styl"

body
  background-color #f1f2f6
  margin-top 20px

  .padded-row
    padding-top 10px
    padding-bottom 15px

  #app-title-wrapper
    text-align center

    #app-title
      margin-bottom 40px

  .form-group
    .label-note
      color: #AAB2BD
      font-size: 0.75em
      margin-bottom: 10px

  .list-group
    .list-group-item
      span.simGroupSizeItem
        background-color #8CC152
        padding: 7px 15px
        margin-right: 20px
        margin-top: 0px
        color: white
        display: inline-block

      span.studentIcon
        //background-color #A0D468
        //padding: 7px 15px
        margin-right: 20px
        margin-top: 0px
        color: #434A54
        //display: inline-block

  .side-left
    text-align left
    padding 10px 10px 10px 20px
    background-color #5D9CEC
    color #F5F7FA
    border-radius 20px
    border: 2px solid #4A89DC
    i
      color #FFFFFF
      margin-right 10px

  .side-right
    text-align left
    padding 10px 10px 10px 20px
    background-color #ED5565
    color #F5F7FA
    border-radius 20px
    border: 2px solid #DA4453
    i
      color #FFFFFF
      margin-right 10px
