doctype html
html(lang="en" ng-app="MyProject")
  head

    include ./includes/_meta

    // stylesheets
    for css in stylesheets
      link(rel="stylesheet", type="text/css", href="/css/#{css}")

    // scripts
    for js in scripts
      script(type="text/javascript" src="/js/#{js}")

  body(ng-cloak="", ng-controller="AppCtrl")
    .container
      .row
        .col-md-12#app-title-wrapper
          h2#app-title Group Assigner
      .row
        .col-md-6
          .panel.panel-primary
            .panel-heading
              h3.panel-title Students
            .panel-body
              #add-student.input-group
                input.form-control(type="text" placeholder="New Student" ng-model="newStudent" ng-keyup="$event.keyCode == 13 && addStudent()")
                .input-group-btn
                  button.btn.btn-primary(type="button" ng-click="addStudent()") Add
              ul.list-group
                li.list-group-item
                  h4 {{students.length}} Student{{students.length == 1 ? '' : 's'}}
                li.list-group-item(ng-repeat="student in students | orderBy:'toString()'")
                  button.close(type="button" aria-hidden="true" ng-click="delStudent(student)") ×
                  span.studentIcon
                    i.fa.fa-user.fa-lg
                  | {{student}}
        .col-md-6
          .panel.panel-primary
            .panel-heading
              h3.panel-title Simulations
            .panel-body
              #add-simulation
                .form-group
                  label(for="selector-simulator-groupsize") Students per Group
                  select(id="selector-simulator-groupsize" name="selector-simulator-groupsize" data-selecter-options='{"cover":"true"}' ng-model="newSimGroupSize")
                    option(value="1") One
                    option(value="2") Two
                    option(value="3") Three
                    option(value="4") Four
                    option(value="5") Five
                .form-group
                  label(for="selector-simulator-min") Minimum Number of Students Required for Simulation
                  select(id="selector-simulator-min" name="selector-simulator-min" data-selecter-options='{"cover":"true"}' ng-model="newSimMin")
                    option(value="2") Two
                    option(value="3") Three
                    option(value="4") Four
                    option(value="5") Five
                .form-group
                  label(for="selector-simulator-numgroups") Number of Groups per Simulation
                  select(id="selector-simulator-numgroups" name="selector-simulator-numgroups" data-selecter-options='{"cover":"true"}' ng-model="newSimNumGroups")
                    option(value="2") Two
                    option(value="3") Three
                    option(value="4") Four
                .form-group
                  label(for="simulation-name") Simulation Name
                  .input-group
                    input.form-control(type="text" name="simulation-name" placeholder="New Simulation" ng-model="newSimName" ng-keyup="$event.keyCode == 13 && addSimulation()")
                    .input-group-btn
                      button.btn.btn-primary(type="button" ng-click="addSimulation()") Add
              ul.list-group
                li.list-group-item
                  h4 {{simulations.length}} Simulation{{simulations.length == 1 ? '' : 's'}}
                li.list-group-item(ng-repeat="simulation in simulations | orderBy:'name'")
                  button.close(type="button" aria-hidden="true" ng-click="delSimulation(simulation)") ×
                  span.simGroupSizeItem {{simulation.groupSize}}
                  | {{simulation.name}}
      .row.padded-row
        .col-md-4.col-md-offset-4
          button#assignBtn.ladda-button.btn.btn-block(data-color="red" data-style="zoom-in" ng-click="assignToGroups()")
            span.ladda-label Assign Students to Groups
      .row(ng-if="assignments !== null").padded-row
        .col-md-12
          p {{assignments}}
          h3 Assignments
          .panel.panel-default(ng-repeat="assignment in assignments")
            .panel-heading
              h3.panel-title {{assignment.name}}
            .panel-body
              h5 Info
              .row
                .col-md-3.col-md-offset-1
                  .text-center.well.well-sm
                    h6 Group Size
                    h4 {{assignment.groupSize}}
                .col-md-4
                  .text-center.well.well-sm
                    h6 Min Num of Students
                    h4 {{assignment.minSize}}
                .col-md-3
                  .text-center.well.well-sm
                    h6 Num of Groups
                    h4 {{assignment.numGroups}}
                  //- table.table
                  //-   thead
                  //-     tr
                  //-       th.text-center Group Size
                  //-       th.text-center Min Num of Students
                  //-       th.text-center Num of Groups
                  //-   tbody
                  //-     tr.text-center
                  //-       td {{assignment.groupSize}}
                  //-       td {{assignment.minSize}}
                  //-       td {{assignment.numGroups}}
              h5 Groups
              ul.list-group
                li.list-group-item(ng-repeat="game in assignment.games")
                  p {{$index + 1}}
                  .row
                    div(ng-repeat="group in game" ng-class="getGroupClass(game, $index)")
                      ul.list-unstyled.group-assignment(ng-class="'group-' + ($index + 1)")
                        li(ng-repeat="student in group")
                          span
                            i.fa.fa-user
                          | {{student}}
      .row.padded-row
        .col-md-12
          .footer
            .container
              .clearfix
              .footer-copyright.text-center Copyright © 2014 James Newell.  All rights reserved.

