doctype html
html(lang="en" ng-app="GroupAssigner")
  head

    include ./includes/_meta

    // stylesheets
    for css in stylesheets
      link(rel="stylesheet", type="text/css", href="css/#{css}")

    // scripts
    for js in scripts
      script(type="text/javascript" src="js/#{js}")

  body(ng-cloak="", ng-controller="AppCtrl")
    .container
      .row
        .col-md-12#app-title-wrapper
          h2#app-title
            span.label.label-primary
              i.fa.fa-users
            | Group Assigner
      .row
        .col-md-6
          include ./includes/_projectPanel
          include ./includes/_studentsPanel
        .col-md-6
          include ./includes/_simulationsPanel
      .row.padded-row
        .col-md-4.col-md-offset-4
          #calculating-progress.calc-progress-animate(ng-show="isCalculating")
            h4 {{calculatingProgress}}
          ladda-button(id="assignBtn" ladda-opts="{color: 'red', mode: 'zoom-out'}" ladda-click="assignToGroups(event, ladda)" ng-transclude) Assign Students to Groups
      .row(ng-if="assignments !== null").padded-row
        .col-md-12
          include ./includes/_resultsPanel
      .row.padded-row
        .col-md-12
          include ./includes/_footer
